*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  

    
}
#wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.container{
    height:100%;
    max-width:1500px;
    margin:0 auto;
    padding:60px;
    
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 5px rgb(121, 200, 246);
    text-align: center;
    margin-top: 2rem;
    font-size: 3rem;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 5px rgb(121, 200, 246);
    text-align: center;
    margin-bottom: 4rem;
    font-size: 2rem;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    width:45%;
    overflow: hidden;
    position: relative;
    border-radius: 12px;
    margin-bottom: 25px;
}
.card img{
    height: 100%;
    width: 100%;
    filter:grayscale(100%);
    object-fit: cover;
    box-shadow: 0px 0px 50px #333;

}
.card:hover{
    transform: scale(1.1);
    transition: 0.3s;
    filter:drop-shadow(0 0 10px #333);
}
.card:hover img{
    filter:grayscale(0%);
}
.card figcaption{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px;
    width: 100%;
    height: 20%;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    opacity: 0;
    border-radius: 0 0 10px 10px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    transition: 0.3s;
  }
  
  .card:hover figcaption {
    opacity: 1;
    transform: scale(1.03);
  }  
  
  .foot{
    
    background-color: #333;
    color: rgb(243, 243, 166);
    text-align: center;
    padding: 1.5rem;
    margin-top: 25px;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 25px 25px 0 0;
  }
  #icon1{
    font-size: larger;
    color: rgb(243, 243, 166);
    
  }
  #icon1:hover{
    color: red;
  }

 